/**
 *
 * Helpers.css.scss
 * ---------------------------------------------------
 * Contains class, mixins for help in development
 *
 */

/**
 *
 * Functions and Mixins
 * ---------------------------------------------------
 *
 */

 @function em($value, $default: 16) {
  @return ($value / $default) + 0em;
 }

/**
 *
 * Define default values to elements
 * ---------------------------------------------------
 *
 */

* { @include box-sizing(border-box); }

legend, hr { display: none; }

fieldset { border: 0; }

html {
  height: 100%;
}

body {
  background: #fff;
  color: $color-gray-2;
  height: 100%;
  overflow-x: hidden;
}

/**
 *
 * Define classes
 * ---------------------------------------------------
 *
 */

.is-not-list {
  list-style: none;
  margin: 0;
}