/**
 *
 * Helpers.css.scss
 * ---------------------------------------------------
 * Define default values to elements
 *
 */

* { @include box-sizing(border-box); }

legend, hr { display: none; }

fieldset { border: 0; }

html {
  background: $color-background;
  height: 100%;
}

body {
  background: $color-background;
  height: 100%;
  overflow-x: hidden;
  font-family: $default-font;
}