@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

body {
  font-family: 'Lato', sans-serif;
  font-size: em(16);
  font-weight: 400;
}

.title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: em(25);
  margin-bottom: em(15);
  text-align: center;
}