<section class="artists" ng-controller="ArtistsController">
  <p class="loading" ng-show="artistsInfo.length == 0">loading artist info...</p>
  <div ng-include="'partials/artists_menu.html'"></div>
  <div class="artists-content" ng-repeat="artistData in artistsInfo">
    <figure class="artists-picture">
      <img ng-src="{{artistData.image[3]['#text']}}">
      <figcaption>
        <h1 class="title">{{artistData.name}}</h1>
      </figcaption>
    </figure>
    <p ng-bind-html="artistData.bio.content">{{artistData.bio.content}}</p>
    <ul class="artists-similar">
      <li ng-repeat="item in artistData.similar.artist">
        <figure>
          <a ng-href="/#/artists/{{item.name}}"><img ng-src="{{item.image[1]['#text']}}"></a>
          <figcaption>
            {{item.name}}
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>