<section class="artists" ng-controller="ArtistsController">
  <ng-include src="'partials/artists_menu.html'"></ng-include>
  <figure class="artists-picture">
    <img src="{{artists.infos.image[3]['#text']}}">
    <figcaption>
      <h1 class="title">{{artists.infos.name}}</h1>
    </figcaption>
  </figure>
  <p ng-bind-html-unsafe="artists.infos.bio.content">{{artists.infos.bio.content}}</p>
  <ul class="artists-similar">
    <li ng-repeat="item in artists.infos.similar.artist">
      <figure>
        <a href="/#/artists/{{item.name}}"><img src="{{item.image[1]['#text']}}"></a>
        <figcaption>
          {{item.name}}
        </figcaption>
      </figure>
    </li>
  </ul>
</section>