@import 'core/base';

.home {
  padding: 0 em(20);

  h1 {
    text-align: left;
  }
}

.home-list-artists {
  @include transition(all 300ms ease-in-out);
  padding: 0;
  margin: 0;
  -webkit-column-count: auto;
  -webkit-column-gap: em(20);
  -webkit-column-width: em(200);
  // vertical-align: top;
  @include translate3d(0, 0, 0);

  li {
    @include translate3d(0, 0, 0);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100%;
    overflow: hidden;
    margin-bottom: em(20);

    figure {
      position: relative;

      img {
        @include border-radius(3px);
        @include transition(all 300ms ease-in-out);
        @include translate3d(0, 0, 0);
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        height: 100%;

        &:hover {
          -webkit-filter: grayscale(100%);
        }
      }

      &:hover {
        figcaption {
          opacity: 1;
        }
      }

      figcaption {
        @include transition(opacity 300ms ease-in-out);
        text-align: left;
        padding: em(10);
        position: absolute;
        bottom: em(3);
        left: 0;
        color: #fff;
        text-transform: uppercase;
        font-size: em(20);
        background: #000;
        opacity: 0;
      }
    }
  }
}

.button-load-more {
  text-align: center;
}

.artists-picture {
  text-align: center;

  img {
    @include border-radius(5px);
  }
}

.artists-similar {
  li {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    text-align: center;

    figure {
      img {
        @include border-radius(5px);
        @include transition(opacity 300ms linear);
        background: #eee;

        &:hover {
          opacity: .5
        }
      }

      figcaption {
        color: #999;
      }
    }
  }
}

.artists-videos {
  padding: 0;
  margin: 0;
  -webkit-column-count: auto;
  -webkit-column-gap: em(20);
  -webkit-column-width: em(200);
  vertical-align: top;
  @include translate3d(0, 0, 0);

  li {
    @include translate3d(0, 0, 0);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100%;
    overflow: hidden;
    margin-bottom: em(20);

    figure {
      img {
        @include border-radius(5px);
        @include transition(all 300ms ease-in-out);
        @include translate3d(0, 0, 0);
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        height: 100%;

        &:hover {
          -webkit-filter: grayscale(100%);
        }
      }

      figcaption {
        text-align: left;
      }
    }
  }
}

.player {
  width: 100%;
  top: 0;
  left: 0;

  .player-video-container {
    width: 400px;
    height: 300px;
    margin: auto;
  }

  .player-music-container {
    width: 100%;
    margin: auto;
  }
}

.loading {
  text-align: center;
  text-transform: uppercase;
  font-size: em(20);
  font-weight: bold;
}