@import 'globals/core';

/* Components */

@import 'components/shared/player';
@import 'components/shared/boxes';
@import 'components/shared/nav_icons';
@import 'components/artists/header';

.content {
  @extend .bg-background;
  height: 100%;
  z-index: 1000;
  display: block;
  position: relative;

  &.open {
    left: 150px;
  }
}

.grid {
  width: 100%;
  margin: auto;
  padding: 0 em(20);
}