<header class="header" ng-class="{open: openMenu}">
  <div class="header-content">
    <a menu class="header-menu-link">Menu</a>
    <figure class="header-logo">
      <%= image_tag 'eurodance-logo.svg' %>
      <figcaption>
        <h1>Eurodance.com.br</h1>
      </figcaption>
    </figure>
    <nav class="header-nav">
      <ul class="header-nav-links is-not-list">
        <li>
          <form action="" ng-submit="submit()" ng-controller="SearchController">
            <input type="search" class="header-nav-search" ng-model="searchName">
          </form>
        </li>
      </ul>
    </nav>
  </div>
</header>