<header class="euro-header">
  <nav class="euro-header-nav">
    <a menu><b class="icon-menu-1"></b></a>
  </nav>
  <figure class="euro-header-logo">
    <%= image_tag 'eurodance-logo.svg' %>
    <figcaption>
      <h1>Eurodance.com.br</h1>
    </figcaption>
  </figure>
</header>

<!--     <nav class="header-nav">
      <ul class="header-nav-links is-not-list">
        <li>
          <form action="" ng-submit="submit()" ng-controller="SearchController">
            <input type="search" class="header-nav-search" ng-model="searchName">
          </form>
        </li>
      </ul>
    </nav> -->