/**
 *
 * Header.css.scss
 * ---------------------------------------------------
 * Contains styles used in header
 *
 */

.header {
  width: 100%;
  position: relative;
  margin-top: em(40);
  text-align: center;

  .header-logo {
    figcaption {
      display: none;
    }
  }
}