/**
 *
 * Menu.css.scss
 * ---------------------------------------------------
 * Contains styles used in menu
 *
 */

.euro-menu {
  background: #666;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 150px;
  display: none;
}