
.icon-plus:before { content: '\e804'; } /* '' */
.icon-lastfm:before { content: '\e80c'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-menu-1:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e80e'; } /* '' */
.icon-down:before { content: '\e80f'; } /* '' */
.icon-headphones:before { content: '\e80d'; } /* '' */
.icon-location:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-youtube-1:before { content: '\e809'; } /* '' */
.icon-youtube:before { content: '\e80a'; } /* '' */
.icon-soundcloud:before { content: '\e807'; } /* '' */
.icon-cd-1:before { content: '\e80b'; } /* '' */
.icon-cd:before { content: '\e808'; } /* '' */
.icon-search-1:before { content: '\e800'; } /* '' */