<header class="header">
  <figure class="header-logo">
    <a href="/#/" title="Home"><%= image_tag 'eurodance-logo.svg' %></a>
    <figcaption>
      <h1>Eurodance.com.br</h1>
    </figcaption>
  </figure>
</header>

<!--     <nav class="header-nav">
      <ul class="header-nav-links is-not-list">
        <li>
          <form action="" ng-submit="submit()" ng-controller="SearchController">
            <input type="search" class="header-nav-search" ng-model="searchName">
          </form>
        </li>
      </ul>
    </nav> -->